.hidden {
    display:none;
}

body
{
    background: beige;
}

.content
{
    margin-top: 70px;
}

.nav
{
    margin: 0 0 20px -10px;
}

.table
{
    width:100%
}

.detail-container, .table-container
{
    background: white;
    padding: 20px;
}

.detail-table th
{
    width:200px;
}
